/* ===============ALERTS================== */
.notificacion {
    position: fixed;
    top: 4rem;
    right: 4rem;
    padding: 1rem 3rem;
    opacity: 0;
    transition: opacity .5s ease;
}

.visible {
    opacity: 1;
}

/** Colores de la notificacion**/
.sombra {
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, .5);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, .5);
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, .5);
    border-radius: 5px;
}

.correcto {
    background-color: rgb(179, 241, 117);
    color: green;
}

.error {
    background-color: rgb(238, 148, 166);
    color: rgb(163, 0, 33);
}

.container-myAddres .btn-borrar {
    cursor: pointer;
}

/** TABLE **/
.card .card-body table tbody td img {
    width: 100%;
}

#img_course {
    width: 100%;
}

.color-nav a {
    color: #fff;
}

.color-nav a:hover {
    color: #f2f2f2;
}

.btn-table {
    margin: 0 auto !important;
    width: 100%;
}

/* Action Hide botons */
.actionHide {
    display: block !important;
}

.actionHideOff {
    display: none !important;
}